<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p [%X{traceId:-no-trace}] ${PID:- } --- [%15.15t] %-40.40logger{39} : %m%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="com.dave.filestorage" level="INFO"/>
    <logger name="org.springframework.data.mongodb.core.MongoTemplate" level="INFO"/>
    <logger name="org.springframework.web" level="WARN"/>
</configuration>
